<div class="flex items-center justify-center gap-2 py-2 mt-5">
  <button
    (click)="prevPage()"
    class="mr-1.5"
    [ngClass]="
      currentpage === 1
        ? 'opacity-50'
        : 'btn cursor-pointer hover:bg-gray-700'
    "
    [disabled]="currentpage === 1"
  >
    Prev
  </button>

  @for (page of visiblePage(); track $index) {
  <button
    (click)="goToPage(page)"
    class="mr-1 cursor-pointer w-12 h-12 flex items-center justify-center text-center"
    [ngClass]="page === currentpage ? 'bg-amber-500 rounded-full' : ''"
  >
    {{ page }}
  </button>
  }

  <button
    (click)="nextPage()"
    class="ml-1.5"
    [ngClass]="
      currentpage === pages.length
        ? 'opacity-50'
        : 'btn cursor-pointer hover:bg-gray-700'
    "
    [disabled]="currentpage === pages.length"
  >
    Next
  </button>
</div>
