<div
  class="movie-box h-[50rem] flex flex-col flex-[0_0_20rem] rounded-[2rem] border border-solid border-[#595959] pb-[1rem] mb-[2rem]"
>
  <div class="movie-box-poster aspect-[3/4] rounded-[2rem] overflow-hidden">
    <img
      [src]="imageSrc"
      alt=""
      class="movie-box-image w-full h-full object-cover"
    />
  </div>
  <div
    class="movie-box-info flex flex-col justify-between flex-grow pl-[1rem] pt-[1rem]"
  >
    <div class="movie-box-rate flex items-center">
      <span>
        <i
          class="pi pi-star-fill"
          style="color: #f5c518; font-size: 1.8rem; margin-right: 1rem;"
        ></i>
        <span class="movie-box-rate-num text-[1.8rem]">{{ rateNumber }}</span>
      </span>
    </div>
    <p class="movie-box-title mt-[1rem] mb-[0.5rem]">{{ movieTitle }}</p>
    <div class="mt-auto">
      <a
        class="btn movie-box-trailer bg-[#f5c518] w-[10rem] m-[0_auto_0.7rem_auto]"
        >Trailer</a
      >
      <a
        class="btn movie-box-detail w-[10rem] m-[0_auto] text-[#8d8d8d] bg-[#8d8d8d1a]"
        >Detail</a
      >
    </div>
  </div>
</div>
