<header class="header" #header>
  <div class="header-content">
    <img
      src="./assets/header-image-name/balleriane.png"
      alt=""
      class="header-content-image"
      #headerContentImage
    />
  </div>
</header>

<main class="main mt-5 mb-10">
  <div class="cont">
    <section class="movies-section text-white">
      <div
        class="movies-section-wrapper flex items-center justify-between mt-[1.5rem] mb-[1.5rem] mr-0 ml-0"
      >
        <h2 class="movies-section-title text-[2rem]">New Release</h2>
        <a
          href=""
          class="btn movies-section-btn w-[8rem] border-[1px] border-solid border-[#595959]"
          >See All</a
        >
      </div>
      <div
        class="movies-section-boxes flex justify-start items-start gap-[4rem] overflow-auto scroll-smooth"
      >
        @for (item of newReleaseMovies; track $index) {
        <app-main-movies
          [imageSrc]="item.moviePoster"
          [movieTitle]="item.movieTitle"
          [rateNumber]="item.rateNumber"
        ></app-main-movies>
        }
      </div>
    </section>

    <section class="movies-section text-white">
      <div
        class="movies-section-wrapper flex items-center justify-between mt-[1.5rem] mb-[1.5rem] mr-0 ml-0"
      >
        <h2 class="movies-section-title text-[2rem]">Top Movies</h2>
        <a
          href=""
          class="btn movies-section-btn w-[8rem] border-[1px] border-solid border-[#595959]"
          >See All</a
        >
      </div>
      <div
        class="movies-section-boxes flex justify-start items-start gap-[4rem] overflow-auto scroll-smooth"
      >
        @for (item of homePageMovies; track $index) {
        <app-main-movies
          [imageSrc]="item.poster"
          [movieTitle]="item.title"
          [rateNumber]="item.imdb_rating"
          (onMovieDetail)="handleMovieDetail(item.id)"
        ></app-main-movies>
        }
      </div>
    </section>
  </div>
</main>

<footer class="flex items-center justify-center mt-[1.5rem] mb-[1.5rem] mr-0 ml-0">
  <p>Designed By Sepehr Nekooie</p>
</footer>
