<div class="bg-[#161616] mt-15 h-fit">
  <div class="cont">
    <div class="flex justify-center">
      <h2 class="text-5xl font-bold mt-10 mb-5">IMDB Top 250 Movies</h2>
    </div>
    <div
      class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 2xl:grid-cols-5 gap-8 text-center mt-5"
    >
      @for (item of movieResponse; track $index) {
      <app-movies-item
        [title]="item.title"
        [imdbRate]="item.imdb_rating"
        [imageSrc]="item.poster"
        (onMovieSelect)="handleMovieDetail(item.id)"
        (onMovieLiked)="handleMovieLiked(item.id)"
      >
      </app-movies-item>
      }
    </div>
    <app-pagination (pageChanged)="changeMovies($event)"> </app-pagination>
  </div>
</div>
